<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-12">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userData">
                    <div class="form-group mt-3">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" formControlName="username">
                    </div>
                    <span *ngIf="!signupForm.get('userData.username')!.valid && signupForm.get('userData.username')!.touched"
                        class="text-danger">Please enter a valid username</span>
                    <div class="form-group mt-3">
                        <label for="email">E-Mail</label>
                        <input type="email" id="email" class="form-control" name="email" formControlName="email">
                    </div>
                    <span *ngIf="!signupForm.get('userData.email')!.valid && signupForm.get('userData.email')!.touched"
                        class="text-danger">Please enter a valid email</span>
                </div>
                <div class="radio mt-3" *ngFor="let gender of genders">
                    <label for="">
                        <input type="radio" name="gender" [value]="gender" formControlName="gender">
                        {{gender}}
                    </label>
                </div>
                <button class="btn btn-primary mt-3" type="submit" [disabled]="!signupForm.valid">Submit</button>
                <br><br>
                <span *ngIf="!signupForm.valid && signupForm.touched" class="text-danger mt-3">Please enter a
                    valid</span>
            </form>
        </div>
    </div>
</div>